section{

    display: flex;
    width: 600px;
    height: 430px;
    align-items: center;
   

}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .7s ease;
   
}

section img:hover {
    cursor: crosshair;
    width: 100px;
    opacity: 1;
    filter: contrast(120%);
}